* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1115px;
  margin: auto;
}
header {
  height: 88.91px;
  background-color: #000;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1115px;
  height: 385px;
  font-family: Helvetica Neue, sans-serif;
  background: linear-gradient(
    90deg,
    #f4f4f4 7%,
    hsla(0, 0%, 100%, 0.220348) 17%
  );
  border-radius: 10px;
  padding-top: 5px;
}
.left {
  padding-left: 40px;
  padding-right: 15px;
  width: 50%;
}
.catagory {
  display: flex;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  padding: 8px 15px;
  text-align: center;
  border-radius: 100px;
  color: white;
  line-height: 20px;
  font-weight: 700px;
  font-size: 12px;
  cursor: pointer;
  background-color: unset;
  transition: all 0.3s ease-in-out;
  border: none;
}
button:hover {
  padding: 8px 30px;
  transition: padding 0.3s ease-in-out;
}
.title {
  font-size: 26px;
  font-weight: 700px;
  line-height: 36px;
  color: black;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px 30px 0px 0px;
}
.sub_title {
  display: flex;
  opacity: 0.4;
  font-size: 13px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.icons {
  display: flex;
  margin-top: 30px;
  cursor: pointer;
}

.share {
  opacity: 0.4;
  display: flex;
  align-items: center;
  background: #f0efef;
  border: 1px solid transparent;
  border-radius: 100px;
  color: #000;
  margin-right: 20px;
  transition: all 0.4s ease-in-out;
}
.share i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  transition: all 0.4s ease-in-out;
}
.share:hover {
  background: #ffff;
  padding-left: 10px;
  transition: all 0.4s ease-in-out;
}
.share:hover i {
  transition: all 0.4s ease-in-out;
  transform: rotate(45deg);
}
.right {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: url(../imgs/main2.jpeg);
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}
.right div {
  background-color: #000;
  color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.383);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.right:hover {
  background-size: 110%;
  transition: background-size 0.3s ease-in-out;
}
.right div:hover {
  opacity: 1;
  transition: background-size 0.3s ease-in-out;
}
.bottom {
  height: 283px;
  padding-bottom: 50px;
  margin-top: 30px;
}
.bottom p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-family: Neue, sans-serif, Arial;
  margin-top: 10px;
}
.bottom .b {
  width: 265.75px;
  height: 283px;
  gap: 10px;
}
.b_img1 {
  width: 100%;
  height: 61.8%;
  background: url(../imgs/b_img1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  object-fit: contain;
}
.b_icons {
  margin-top: 10px;
}
