body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: 1px solid grey;
}
.box {
  width: 20px;
  height: 20px;
}
.active {
  background-color: green;
} /* .head {  background-color: red;} */
.stopbtn,
.startbtn {
  background-color: rgb(54, 54, 54);
  color: white;
  margin-bottom: 20px;
}
