* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(./sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#root {
  margin: auto;
  width: 1140px;
  height: 1000px;
}
.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 50%;
}
.board {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: bisque;
  gap: 20px;
  background-size: cover;
}
.header {
  text-align: center;
  font-size: 20px;
}
.addDiv {
  margin: auto;
  width: 200px;
  height: 400px;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: none; */
}
.modal {
  display: none;
  background-color: blanchedalmond;
}
button {
  width: 50px;
  height: 20px;
}
