* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(./sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1140px;
  height: 1000px;
}
.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.board {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: bisque;
  gap: 20px;
}

@media screen and (max-width: 1400px) {
  #root {
    width: 1140px;
    height: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  #root {
    width: 960px;
    height: 1000px;
  }
}

@media screen and (max-width: 992px) {
  #root {
    width: 720px;
    height: 1000px;
  }
}

@media screen and (max-width: 768px) {
  #root {
    width: 540px;
    height: 1000px;
  }
}

@media screen and (max-width: 576px) {
  #root {
    width: 100%;
    height: 1000px;
  }
}
